* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: sans-serif;
  background: #fafafa;
}

[data-theme="dark"] {
  background: #111 !important;
  color: white !important;
}

[data-theme="dark"] .ant-card {
  background: #1f1f1f !important;
  color: white;
}

[data-theme="dark"] .ant-table {
  background: #1f1f1f !important;
}
